@import "../../../../assets/styles/mixins";

.favorite {
  padding-top: 50px;
  padding-bottom: 110px;
  .container{
    .favorite-title {
      @include head-lora-36;
      color: $green-text-color;
      margin-bottom: 35px;
    }
    .favorites-empty{
      margin-top: 20px;
      margin-bottom: 1000px;
      div{
        font-size: 16px;
      }
      .button{
        width: 255px;
        margin-top: 10px;
      }
    }
  }
}
